
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap');
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Roboto Flex', sans-serif;
	overflow: auto;
	/* height: 100%; */
	min-height: 100%;
	background: #f4f4f4;
	position: relative;
	color: black;
}


.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 900px;
	position: relative;
	background: #212121;
	left: 50%;
	min-height: 100dvh;
	transform: translate(-50%,0px);

}

.main{
	flex-grow: 1;
}
.inp{
	padding: 10px 5px;
	display: flex;
	flex-direction: column;
	background: #232323;
	border-radius: 10px 10px 0px  0px;
	border: 1px solid rgb(168, 168, 168);
	color: white;
}


.m{
	margin: 10px 0px;
}
p{
	font-size: 14px;
}

.form-text{
	border-radius: 12px;
	background: #3b3b3b;
	font-weight: 400;
	font-size: 0.9rem;
	cursor: text;
	position: relative;
	display: inline-flex;
	line-height: 1.5;
	align-items: center;
	width: 100%;
	border: 1px solid #80808099;
	outline: none;
}

.form-text select,
.form-text input[type="text"] {
	width: 100%;
	padding: 14px 5px;
	background: none;
	border: 0;
	outline: none;
	font-size: 1em;
	color: white;
	font-family: 'Roboto Flex', sans-serif;
	background-color: transparent;
}




.form-text select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="14" viewBox="0 0 24 24" width="14" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 14px;
}

.form-text select:focus,
.form-text select:active {
	/* border: inherit; */
	outline: none;
	border-radius: inherit;
	box-shadow: none;
	
	
	background-color: #4a4a4a;
	
	color: white;
}


.form-text input[type="checkbox"] {
	width: auto;
	margin: 0;
}

#comment{
	width: 100%;
	padding: 14px 5px;
	background: none;
	border: 0px;
	outline: none;
	font-size: 1em;
	color: white;
	font-family: 'Roboto Flex',
		sans-serif;
	resize: none;
	margin-bottom: 3px;
	

}

.form-btn{
	cursor: pointer;
	padding: 12px 8px;
	outline: none;
	border-radius: 12px;
	color: white;
	background: #4a4a4a;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 32px;
	font-size: 12px;
}

.form-btn:hover{
	background: #5d5d5d;
}
